/*font-family, font, and background colors properties*/
body {
    background-color: #0b0033;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*header display set to flex to contain picture, name, and nav bar*/
header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#832232, #ce8964);
}

header img {
    width: 200px;
    border: 4px outset #eaf27c;
    border-radius: 8px;
}

header h1 {
    border: 4px ridge #eaf27c;
    border-radius: 8px;
    padding: 4px;
}
/*styling for nav bar*/
nav li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    border: 4px outset #eaf27c;
    border-radius: 8px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: white;
}
/*hover selector added for nav items*/
nav li:hover {
    background-color: #eaf27c;
}

nav a:hover {
    color: #0b0033;
}
/*styling for projects, display set to flex*/
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app {
    background-color: black;
    width: 300px;
    padding-bottom: 4px;
    position: relative;
    margin-bottom: 1em;
    width: calc(50% - 1em);
    border: 4px inset #eaf27c;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app h3 {
    text-align: center;
    color: #eaf27c;
    background-color: #370031;
    font-size: 1.25em;
    margin: 0 1em;
    position: relative;
    top: -.5em;
}

.app img {
    max-width: 100%;
    max-height: 500px;
    border: 2px solid #0b0033;
}

.app p {
    margin: 8px;
}

/*styling for first project to be larger than others*/
#first {
    width: 100%;
}
/*media query for screens 768px or less*/
@media screen and (max-width: 768px){
    .app {
        width: 100%;
    }
}